@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class=" display-4">Welcome to Admin Panel</h1>
    <p>Kindly <a asp-controller="Products" asp-action="Index">Click here</a> or click on "Manage Products" to add,remove,edit or delete a product</a>.</p>
</div>
